html, body {
  height: 100%;
}
body {
  font-family: Consolas, monospace;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#wrap {
  margin: 0;
  min-height: 100%;
}
#main {
  margin: 0;
  overflow: auto;
}
footer#mode_switcher {
  background: #444;
  background: linear-gradient(270deg, #444, #8c8d8d);
  font-size: 12px;
  height: 25px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 20px;
  padding: 5px 0 0;
  text-align: right;
  width: 100%;
}
footer#mode_switcher a {
  color: #eee;
  display: block;
  padding-right: 7px;
}

a:hover {
  cursor: pointer;
}
h1, h2 {
  color: #eee;
  display: block;
  font-size: 24px;
  line-height: 12px;
  margin: 0;
  padding: 8px 4px 2px 4px;
  text-transform: uppercase;
}
h1 {
  background: #222;
  border-bottom: 2px solid #000;
}
h1 a, h1 a:active, h1:visited {
  color: #78bddb;
  text-decoration: none;
}
h1 a:hover {
  color: #b3d3e0;
}
h2 {
  background: #333;
  display: block;
  font-size: 18px;
  line-height: 18px;
  padding: 6px;
}
aside {
  background: #595959;
  float: left;
  height: 100%;
  padding: 0;
  width: 25%;
}
section {
  background: #828282;
  float: left;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 75%;
}
iframe {
  height: 100%;
  width: 100%;
  scrolling: auto;
  border-left: 2px solid #444;
}
dl {
  margin: 0;
  padding: 0;
  width: 100%;
}
dt {
  font-size: 1.3vw;
}
dt a {
  background: #296a86;
  background: linear-gradient(90deg, #296a86, #1e5c77);
  border-bottom: 2px solid #111;
  color: #f2f2f2;
  display: block;
  font-size: 1.5em;
  padding: 12px 10px 10px 6px;
  text-decoration: none;
  text-transform: uppercase;
}
dt a.selected {
  background: #000;
  background: linear-gradient(270deg, #000000, #4f4f4f);
  color: #fff;
}
dt a:hover {
  background: #b3d3e0;
  background: linear-gradient(90deg, #b3d3e0, #7baabe);
  color: #242424;
}

@media (min-width: 768px) {
  dt {
    font-size: 1.4vw;
  }
  dt a {
    padding-left: 10px;
  }
  h1 {
    font-size: 36px;
    line-height: 24px;
    padding: 10px 6px 4px 8px;
  }
  h2 {
    font-size: 2vw;
    line-height: 10px;
    padding: 12px 10px 10px;
  }
}
