body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: Consolas, monospace;
  font-size: 16px;
}
a:hover {
  cursor: pointer;
}
h1, h2 {
  color: #eee;
  display: block;
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
h1 {
  background: #444;
  line-height: 33px;
  padding: 6px 4px 0 6px;
}
h1 a, h1 a:active, h1:visited {
  color: #78bddb;
  text-decoration: none;
}
h1 a:hover {
  color: #b3d3e0;
}
h2 {
  background: #205081;
  border-bottom: 2px solid #000;
  display: block;
  font-size: 18px;
  line-height: 17px;
  padding: 8px 3px 3px 6px;
}
article {
  padding: 5px 15px;
}
iframe {
  height: 100%;
  width: 100%;
  scrolling: auto;
}

/* page layout elements */
header {
  border-bottom: 2px solid #000;
  height: 38px;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
}
div#main {
  bottom: 20px;
  float: right;
  font-size: 24px;
  left: 175px;
  position: absolute;
  right: 0;
  top: 40px;
}
aside#sidebar {
  background: #777;
  bottom: 20px;
  float: left;
  height: 100%;
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 175px;
}
  dl {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  dt a {
    border-bottom: 1px solid #111;
    color: #f2f2f2;
    display: block;
    font-size: 1em;
    padding: 8px 10px 6px 6px;
    text-decoration: none;
    text-transform: uppercase;
  }
  dt.dir a {
    background: #609fbb;
    background: linear-gradient(90deg, #609fbb, #1e5c77);
  }
  dt.port a {
    background: #609fbb;
    background: linear-gradient(270deg, #609fbb, #1e776a);
  }
  dt a:hover {
    color: #242424;
  }
  dt.dir a:hover {
    background: #b3d3e0;
    background: linear-gradient(90deg, #b3d3e0, #7baabe);
  }
  dt.port a:hover {
    background: #b3d3e0;
    background: linear-gradient(90deg, #b3e0d2, #7bbeac);
  }
  dt a.selected {
    color: #fff;
  }
  dt a.selected:after {
    content: ' \2713';
  }
  dt.dir a.selected {
    background: #000;
    background: linear-gradient(90deg, #153746, #000);
  }
  dt.port a.selected {
    background: #000;
    background: linear-gradient(90deg, #123c33, #000);
  }
aside div#dragbar {
  background-color: #000;
  height: 100%;
  float: right;
  width: 2px;
}
footer {
  background: #444;
  background: linear-gradient(90deg, #444, #222);
  border-top: 2px solid #222;
  clear: both;
  font-size: 12px;
  padding: 5px 0 0;
  text-align: right;
  width: 100%;
  height: 20px;
  bottom: 0;
  position: fixed;
}
footer span {
  display: block;
  position: relative;
  right: 5px;
}
footer span a {
  color: #eee;
  text-decoration: none;
}
footer span a:hover {
  color: #cbdbf2;
}

.placeholder {
  font-weight: 500;
  font-size: 200%;
  height: 100%;
  padding: 100px 50px;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    height: 38px;
  }
  h2 {
    font-size: 27px;
    line-height: 27px;
    padding: 12px 10px 4px 8px;
  }
  div#main {
    left: 250px;
  }
  aside#sidebar {
    width: 250px;
  }
  dt h2 {
    font-size: 24px;
  }
  dt a {
    font-size: 24px;
    padding: 12px 10px 10px;
  }
}
