$h-color: '#eee';
$h1-color-bg: '#444';
$h2-color-bg: '#205081';
$a-color: '#78bddb';
$a-color-hover: '#b3d3e0';
$color-default: '#000';
$color-default-reverse: '#fff';
$sidebar-color-bg: '#777';
$footer-color-bg: '#444';
