@import 'colors';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Consolas, sans-serif, monospace;
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  color: $color-default-reverse;

  &:hover {
    cursor: pointer;
  }
}

h1 {
  background: $h1-color-bg;
  color: $h-color;
  display: block;
  line-height: 27px;
  margin: 0;
  padding: 8px 4px 8px 6px;
  text-align: left;
  text-transform: uppercase;

  a {
    color: $a-color;
    text-decoration: none;

    &:active {
      color: $a-color;
      text-decoration: none;
    }

    &:hover {
      color: $a-color-hover;
    }
  }

  &:visited {
    color: $a-color;
    text-decoration: none;
  }
}

h2 {
  background: $h2-color-bg;
  border-bottom: 3px solid $color-default;
  color: $h-color;
  display: block;
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 13px;
  margin: 0;
  padding: 8px 3px 6px 6px;
  text-align: center;
  text-transform: uppercase;
}

dl {
  margin: 0;
  padding: 0;
  width: 100%;

  &.ports-list {
    padding-bottom: 25px;
  }
}

// list of links
dt {
  min-height: 38px;

  img {
    &.tech-logo {
      background: #1a8bbd77;
      float: left;
      margin: 0 3px 0 0;
      padding: 8px 8px 9px;
    }
  }

  a {
    border-bottom: 1px solid darken($color-default, 10%);
    color: lighten($color-default-reverse, 5%);
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 8px 10px 6px 6px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: darken($color-default, 21%);
    }

    &.selected {
      color: $color-default-reverse;

      &::after {
        content: ' \2713';
      }
    }

    span {
      &.project {
        font-weight: 1000;
      }

      &.subproject {
        color: #feffcb;
        font-weight: 300;
      }
    }
  }

  &.dir {
    a {
      background: $dir-a-color;
      background: linear-gradient(90deg, $dir-a-color, darken($dir-a-color, 20%));

      &:hover {
        background: $dir-a-color-hover;
        background: linear-gradient(90deg, $dir-a-color-hover, darken($dir-a-color-hover, 20%));
      }

      &.selected {
        background: $color-default;
        background: linear-gradient(90deg, $dir-a-color-selected, $color-default);
      }
    }
  }

  &.port {
    a {
      background: $port-a-color;
      background: linear-gradient(270deg, $port-a-color, darken($port-a-color, 20%));

      &:hover {
        background: $port-a-color-hover;
        background: linear-gradient(90deg, $port-a-color-hover, darken($port-a-color-hover, 20%));
      }

      &.selected {
        background: $color-default;
        background: linear-gradient(90deg, $port-a-color-selected, $color-default);
      }
    }
  }
}

#container {
  height: 100%;
  margin-bottom: 64px;
}

header {
  border-bottom: 2px solid $color-default;
  height: 40px;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

// iframe sidebar
#sidebar {
  background: $sidebar-color-bg;
  bottom: 20px;
  float: left;
  height: 100%;
  // overflow-y: hidden;
  padding: 0;
  position: absolute;
  top: 43px;
  transition: width 0.5s;
  width: 180px;

  h2 {
    text-align: left;
  }

  dt {
    a {
      text-align: left;

      span {
        &.port,
        &.project,
        &.subproject {
          font-size: 0.85em;
        }
      }
    }
  }
}

#dragbar {
  background-color: $color-default;
  float: right;
  height: 100%;
  width: 2px;
}

// wrapper for iframe src and contents
#main {
  float: right;
  font-size: 24px;
  height: 100%;
  left: 180px;
  position: absolute;
  right: 0;
  top: 43px;

  #iframe_src {
    background: darken($h1-color-bg, 10%);
    border-bottom: 4px solid $color-default;
    bottom: 0;
    color: $color-default-reverse;
    float: right;
    font-size: 14px;
    height: 16px;
    left: 0;
    letter-spacing: 1px;
    line-height: 18px;
    padding: 6px 5px 5px;
    position: absolute;
    right: 0;
    top: 0;
    transition: width 0.5s;
  }

  // iframe site contents
  #site_contents {
    position: absolute;
    top: 30px;
  }
}

article {
  padding: 5px 15px;
}

iframe {
  height: 100%;
  //scrolling: auto;
  width: 100%;
}

footer {
  background: $footer-color-bg;
  background: linear-gradient(90deg, $footer-color-bg, darken($color-default, 20%));
  border-top: 2px solid darken($color-default, 20%);
  bottom: 0;
  clear: both;
  font-size: 12px;
  height: 20px;
  padding: 5px 0 0;
  position: fixed;
  text-align: right;
  width: 100%;

  span {
    display: block;
    position: relative;
    right: 5px;

    &.toggle-text {
      bottom: 14px;
      color: #fff;
      right: 110px;
    }

    a {
      color: $a-color;
      text-decoration: none;

      &:hover {
        color: $footer-a-color;
      }
    }
  }
}

// loading div
.placeholder {
  font-size: 4vw;
  font-weight: 400;
  height: 100%;
  padding: 50px 10px 0;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    height: 40px;
    text-align: left;
  }

  h2 {
    font-size: 24px;
    line-height: 24px;
    padding: 12px 10px 10px 8px;
    text-align: left;
  }

  #container {
    margin-bottom: 104px;
  }

  #main {
    left: 250px;

    #iframe_src {
      font-size: 24px;
      height: 16px;
      padding: 15px 10px;
    }

    #site_contents {
      top: 49px;
    }
  }

  #sidebar {
    width: 250px;

    dt {
      a {
        font-size: 0.9em;
        padding: 12px 10px 10px 12px;
      }
    }
  }

  dt {
    a {
      text-align: left;
    }
  }

  .placeholder {
    font-size: 200%;
    padding: 100px 50px;
  }
}
