@import 'colors';

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Consolas, monospace;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  &:hover {
    cursor: pointer;
  }
}

h1 {
  background: $h1-color-bg;
  color: $h-color;
  display: block;
  line-height: 33px;
  margin: 0;
  padding: 6px 4px 0 6px;
  text-transform: uppercase;

  a {
    color: $a-color;
    text-decoration: none;

    &:active {
      color: $a-color;
      text-decoration: none;
    }

    &:hover {
      color: $a-color-hover;
    }
  }

  &:visited {
    color: $a-color;
    text-decoration: none;
  }
}

h2 {
  background: $h2-color-bg;
  border-bottom: 2px solid $color-default;
  color: $h-color;
  display: block;
  font-size: 30px;
  line-height: 35px;
  margin: 0;
  padding: 8px 3px 3px 6px;
  text-transform: uppercase;
}

article {
  padding: 5px 15px;
}

iframe {
  height: 100%;
  //scrolling: auto;
  width: 100%;
}

// page layout elements
header {
  border-bottom: 2px solid $color-default;
  height: 38px;
  margin: 0;
  padding: 0;
  top: 0;
  width: 100%;
}

#main {
  bottom: 20px;
  float: right;
  font-size: 24px;
  left: 175px;
  position: absolute;
  right: 0;
  top: 40px;
}

#sidebar {
  background: $siderbar-color-bg;
  bottom: 20px;
  float: left;
  height: 100%;
  overflow-y: hidden;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 175px;

  dl {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  dt {
    a {
      border-bottom: 1px solid darken($color-default, .1);
      color: lighten($color-default-reverse, .05);
      display: block;
      font-size: 1em;
      padding: 8px 10px 6px 6px;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: #242424;
      }

      &.selected {
        color: $color-default-reverse;

        &::after {
          content: ' \2713';
        }
      }
    }

    &.dir {
      a {
        background: #609fbb;
        background: linear-gradient(90deg, #609fbb, #1e5c77);

        &:hover {
          background: #b3d3e0;
          background: linear-gradient(90deg, #b3d3e0, #7baabe);
        }

        &.selected {
          background: $color-default;
          background: linear-gradient(90deg, #153746, $color-default);
        }
      }
    }

    &.port {
      a {
        background: #609fbb;
        background: linear-gradient(270deg, #609fbb, #1e776a);

        &:hover {
          background: #b3d3e0;
          background: linear-gradient(90deg, #b3e0d2, #7bbeac);
        }

        &.selected {
          background: $color-default;
          background: linear-gradient(90deg, #123c33, $color-default);
        }
      }
    }
  }

  #dragbar {
    background-color: $color-default;
    float: right;
    height: 100%;
    width: 2px;
  }
}

footer {
  background: $footer-color-bg;
  background: linear-gradient(90deg, $footer-color-bg, darken($color-default, .2));
  border-top: 2px solid darken($color-default, .2);
  bottom: 0;
  clear: both;
  font-size: 12px;
  height: 20px;
  padding: 5px 0 0;
  position: fixed;
  text-align: right;
  width: 100%;

  footer {
    span {
      display: block;
      position: relative;
      right: 5px;
    }

    a {
      color: $a-color;
      text-decoration: none;

      &:hover {
        color: #cbdbf2;
      }
    }
  }
}

.placeholder {
  font-size: 200%;
  font-weight: 500;
  height: 100%;
  padding: 100px 50px;
  text-align: center;
}

@media (min-width: 768px) {
  header {
    height: 38px;
  }

  h2 {
    font-size: 27px;
    line-height: 27px;
    padding: 12px 10px 4px 8px;
  }

  #main {
    left: 250px;
  }

  #sidebar {
    width: 250px;

    dt {
      h2 {
        font-size: 24px;
      }

      a {
        font-size: 24px;
        padding: 12px 10px 10px;
      }
    }
  }
}
